<app-header (selected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-20">
<!--      <hr>-->
<!--      <app-server></app-server>-->
      <hr>
      <app-recipes *ngIf="loadedString ==='recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedString ==='shopping-list'"></app-shopping-list>
      <hr>
<!--      <app-warning-alert></app-warning-alert>-->
<!--      <app-sucess-alert></app-sucess-alert>-->
<!--      <app-servers></app-servers>-->
      <p appBetterHighlight>Style me</p>
      <p appBetterHighlightWithRenderer>Style me</p>
    </div>
  </div>
</div>
